################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/training.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
